.vs/ids/FileContentIndex/0e9d1bcb-25eb-44bd-979d-ac7da4fb1728.vsidx
.vs/ids/FileContentIndex/276930dd-c7e4-444f-87da-177550380f16.vsidx
.vs/ids/FileContentIndex/bb201e9e-a1c0-498f-88e8-5d2727623cf8.vsidx
.vs/ids/FileContentIndex/d0b3a5f5-8d81-4727-a9ba-c27cf8309540.vsidx
.vs/ids/FileContentIndex/db4f16a8-60cf-48c1-aabc-7c0b3882c963.vsidx
.vs/ids/FileContentIndex/e3ce3c79-950c-4b55-b722-976dadfb428a.vsidx
.vs/ids/v17/.suo
.vs/ids/v17/Browse.VC.db
.vs/ids/v17/Browse.VC.db-shm
.vs/ids/v17/Browse.VC.db-wal
.vs/ids/v17/Browse.VC.opendb
.vs/ids/v17/fileList.bin
.vs/ids/v17/Solution.VC.db
.vs/ids/v17/ipch/AutoPCH/171423cdb3bb7080/MAINWINDOW.ipch
.vs/ids/v17/ipch/AutoPCH/258ecb3c3c4e7c4e/MAIN.ipch
.vs/ids/v17/ipch/AutoPCH/2f9af0611d9ed8cc/MAIN.ipch
.vs/ids/v17/ipch/AutoPCH/30830193eebf6e80/PKT_HANDLER.ipch
.vs/ids/v17/ipch/AutoPCH/30830c93eebf8131/PKT_HANDLER.ipch
.vs/ids/v17/ipch/AutoPCH/3f50db613d811e7c/EX.ipch
.vs/ids/v17/ipch/AutoPCH/69112f26e4fedc00/MAIN.ipch
.vs/ids/v17/ipch/AutoPCH/6cc04e4e6a39d0b5/MOC_IDS.ipch
.vs/ids/v17/ipch/AutoPCH/7ca5f6e26d0fe2f1/TEST.ipch
.vs/ids/v17/ipch/AutoPCH/8e2c34ca6bcb8b3b/IDS.ipch
.vs/ids/v17/ipch/AutoPCH/8f95644662cbb0e0/MAIN.ipch
.vs/ids/v17/ipch/AutoPCH/9033d0d8ca70765/PKT_HANDLER.ipch
.vs/ids/v17/ipch/AutoPCH/93c09aa8c905f310/RUN.ipch
.vs/ids/v17/ipch/AutoPCH/bc53e77995f438d4/PKTDUMP_EX.ipch
.vs/ids/v17/ipch/AutoPCH/da8359e6ef4253f0/RUN.ipch
.vs/ids/v17/ipch/AutoPCH/e197a4012ded6d89/PKT_HANLDER.ipch
.vs/ids/v17/ipch/AutoPCH/e3fb63e40f263399/PKT_HANDLER.ipch
.vs/ids/v17/ipch/AutoPCH/ee36cfc137650308/PKTDUMP_EX.ipch
.vs/ids/v17/ipch/AutoPCH/f6a7d00ddf5203a8/TEST.ipch
ids/x64/Debug/ids.exe.recipe
ids/x64/Debug/ids.log
ids/x64/Debug/main.obj
ids/x64/Debug/mainwindow.obj
ids/x64/Debug/moc_mainwindow.obj
ids/x64/Debug/pkt_handler.obj
ids/x64/Debug/pkt_hanlder.obj
ids/x64/Debug/qrc_ids.obj
ids/x64/Debug/qt.natvis
ids/x64/Debug/qt_work.log
ids/x64/Debug/run.obj
ids/x64/Debug/test.obj
ids/x64/Debug/vc143.pdb
ids/x64/Debug/ids.tlog/CL.command.1.tlog
ids/x64/Debug/ids.tlog/Cl.items.tlog
ids/x64/Debug/ids.tlog/CL.read.1.tlog
ids/x64/Debug/ids.tlog/CL.write.1.tlog
ids/x64/Debug/ids.tlog/ids.lastbuildstate
ids/x64/Debug/ids.tlog/ids.write.1u.tlog
ids/x64/Debug/ids.tlog/link.command.1.tlog
ids/x64/Debug/ids.tlog/link.read.1.tlog
ids/x64/Debug/ids.tlog/link.write.1.tlog
ids/x64/Debug/ids.tlog/moc.read.1u.tlog
ids/x64/Debug/ids.tlog/moc.write.1u.tlog
ids/x64/Debug/ids.tlog/rcc.read.1u.tlog
ids/x64/Debug/ids.tlog/rcc.write.1u.tlog
ids/x64/Debug/ids.tlog/uic.read.1u.tlog
ids/x64/Debug/ids.tlog/uic.write.1u.tlog
ids/x64/Debug/moc/moc_mainwindow.cpp
ids/x64/Debug/qmake/qtvars_x64_Debug.props
ids/x64/Debug/qmake/temp/.qmake.stash
ids/x64/Debug/qmake/temp/moc_predefs.h.cbt
ids/x64/Debug/qmake/temp/props.txt
ids/x64/Debug/qmake/temp/qtvars.log
ids/x64/Debug/qmake/temp/qtvars.pro
ids/x64/Debug/qmake/temp/qtvars.vcxproj
ids/x64/Debug/qmake/temp/qtvars.vcxproj.filters
ids/x64/Debug/qmake/temp/qtvars_x64_Debug.props
ids/x64/Debug/rcc/qrc_ids.cpp
ids/x64/Debug/uic/ui_mainwindow.h
x64/Debug/ids.exe
x64/Debug/ids.ilk
x64/Debug/ids.pdb
